.about {
  padding: 20px;
  color: #e5e5e5; /* Light gray text */
}

.about h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff; /* White for headers */
}

.about p {
  font-size: 16px;
  line-height: 1.5;
  color: #cccccc; /* Lighter gray for paragraphs */
}

