.info {
  text-align: center;
  color: #fff;
}

.header-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Add depth to the image */
  margin-top: 200px;
}

.header-image:hover {
  transform: scale(1.02); /* Enlarge image on hover */
  transition: transform 0.3s ease;
}

h1 {
  font-size: 2rem;
  margin: 10px 0;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  color: #f0f0f0;
}

.btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #f0f0f0;
  transform: translateY(-3px); /* Lift buttons on hover */
}
@media screen and (max-width: 768px) {
  .header-image {
    margin-top: 350px;
  }
  
}