.footer {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: #0F4C75; /* Footer background */
}

.footer a {
  color: #E5E5E5;
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #FF6B6B; /* Accent Color on hover */
}
