.footer {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: #333; /* Dark gray footer background */
}

.footer a {
  color: #e5e5e5; /* Light gray icons */
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #999999; /* Lighter gray on hover */
}

